<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # No reescribir si es un archivo o directorio real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirigir todo a index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
